# Ignore scrapy cache
.scrapy/

# Ignore log files
*.log

# Ignore Python compiled files
*.pyc
*.pyo
__pycache__/

# output json file
output.json
population_by_year.json

# output csv file
audible_single_page.csv
audible_multiple_page.csv